@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
:root{
    --grenn:#097fd9;
    --black:#192a56;
    --light-color:#fff;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-fonts);
    background-color: #000;
}
img{
    width: 100%;
    display: block;
}
.sub-heading{
    text-align: center;
    color: var(--grenn);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
html{
    font-size: 10px;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}
section{
    padding: 2rem 9%;
}
/* section:nth-child(even){
    background-color: #000;
} */
h1,h2,h3{
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}
ul{
    list-style: none;
}
.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    color: #fff;
    background-color: var(--black);
    border-radius: 5px;
    padding: .8rem 3rem;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: var(--grenn);
}
/* Logo */

/* Auto layout */
header{
    position: relative;
    /* z-index: 9999; */
    background-color: #000;
    padding: 2rem;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: var(--box-shadow); */
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
header .logo i{
    color: var(--grenn);
}
header .navbar {
    margin-left: 20rem;
}
header .navbar a{
    margin-left: 1rem;
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    border-radius: .5rem;
    user-select: none;
}
header .navbar a.active{
background-color: var(--grenn);
color: #fff;
}
header .navbar a:hover{
    color: #fff;
    background-color: var(--grenn);
}
header .icons a,
header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    color: var(--grenn);
    font-size: 1.7rem;
    text-align: center;
    line-height: 4.5rem;
    border-radius: 0.9rem;
    border: 1px solid var(--grenn);
    height: 4.5rem;
    width: 4.5rem;
}
header .icons a:hover,
header .icons i:hover{
    color: #fff;
    background-color: var(--grenn);
    transform: rotate(360deg);
}
header .icons #bars{
    display: none;
}
#searh-from{
    position: fixed;
    z-index: 1004;
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
#searh-from.active{
    top: 0;
}
#searh-from #searh-box{
    width: 50rem;
    padding: 1rem 0;
    border-bottom:.1rem solid #fff ;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#searh-from #searh-box::placeholder{
    color: #eee;
}
#searh-from #searh-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#searh-from label{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
}
#searh-from label:hover{
    color: var(--grenn);
}
#searh-from #close{
    position: absolute;
    right: 3rem;
    top: 10rem;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}
/* <!-- start Home --> */
    .home .home-slider .slider{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 1rem;
        gap: 2rem;
    }
    .home .home-slider .slider .content{
        flex: 1 1 45rem;
    }
    .home .home-slider .slider .imgs{
        background-image: url(../imgs/1.png);
        background-size: cover;
        flex: 1 1 45rem;
    }
    .home .home-slider .slider .imgs img{
        width: 100%;
        transform: translateX(15%);
    }
    .home .home-slider .slider .content span{
        color: var(--grenn);
        font-size: 2.5rem;
    }
    .home .home-slider .slider .content h3{
        color: #fff;
        font-size: 4rem;
        font-weight: bold;
    }
    .home .home-slider .slider .content p{
        color: #fff;
        font-size: 2rem;
        padding: .5rem 0;
        line-height: 1.5;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
/* <!-- end Home --> */
/* <!-- start dishes --> */
.dishes{
    margin-top: 7rem;
    /* margin-bottom: 9rem; */
}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}
.dishes .box-container .box{
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 2.5rem;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background-color: #eee;
    color: var(--black);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
} 
.dishes .box-container .box .fa-heart{
    right: -15rem;
}
.dishes .box-container .box .fa-eye{
    left: -15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background-color: var(--grenn);
    color: #fff;
}
.dishes .box-container .box img{
    /* height: 17rem;
    margin: 1rem 0; */
    border-radius: 0.9rem;
    width: 100%;
}
.dishes .box-container .box h3{
    color: #fff;
    font-size: 2.5rem;
    margin-top: 1rem;
}
.dishes .box-container .stars i{
    color: var(--grenn);
    font-size: 1.7rem;
}
.dishes .box-container span{
    margin-right: 2rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--grenn);
}
/* <!-- end dishes --> */
/* <!-- start about --> */
.about .about-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .about-box .content{
    flex: 1 1 45rem;
}
.about .about-box .image{
    flex: 1 1 45rem;
    position: relative;
}
.about .about-box .image img{
    width: 100%;
    border-radius: 12px;
}
/* .about .about-box .image .b,
.about .about-box .image .c{
    overflow: hidden;
    border-radius: 12px;
    position: absolute;
} */
/* .about .about-box .image .b{
    width: 400px;
    left: -546px;
    z-index: -1;
}
.about .about-box .image .c{
    width: 340px;
    left: -41px;
    top: 61px;
    z-index: -1;
}
.about .about-box .image .a{
    width: 337px;
    top: 136px;
    left: 161px;
} */
 .van{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .play{
    display: flex;
    align-items: center;
 }
 .play .fa-check{
    background-color: #097fd9;
    border-radius: 50%;
    padding: 2px;
    width: 20px;
    text-align: center;
    height: 20px;
 }
 .play p{
    margin-left: 1rem;
    color: #fff;
    font-size: 1.5rem;
 }
.about .about-box .content h2{
    color: #fff;
    font-size: 3rem;
    max-width: 300px;
    padding: .5rem 0;
}
.about .about-box .content p{
    color: #666;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}
/* <!-- end about --> */
/* <!-- start menu --> */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    background-color: #000;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--grenn);
}
.menu .box-container .box .image{
    height: 25rem;
    padding: 1rem;
    overflow: hidden;
    width: 100%; 
    position: relative;
} 
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
    background-color: #fff;
    padding: 1.5rem;
} 
.menu .box-container .box .fa-heart{
    color: #fff;
    border-radius: 12px;
    width: 5rem;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    margin-left: 2rem;
    border: 2px solid var(--grenn);
} 
.menu .box-container .box .fa-heart:hover{
    background-color: var(--grenn);
    color: #fff;
}
.menu .box-container .content{
    padding: 1rem;
    padding-top: 0;
}
.menu .box-container .vann{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem ;
    color: #097fd9;
}
.menu .box-container .vann i{
    color: #097fd9;
    margin: 5px;
}
.menu .box-container .box .content h3{
color: #fff;
font-size: 2rem;
text-align: center;
}
.menu .box-container .box .content .pice{
    margin-right: 3rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--grenn);
    text-align: center;
    display: block;
    line-height: 1.9;
} 
/* <!-- end menu --> */
/* <!-- start review --> */

.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    position: relative;
    border-radius: .5rem;
}
.review .slide .fa-quote-right{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 6rem;
    color: #ccc;
}
.review .slide .uesr{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}
.review .slide .uesr img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .uesr h3{
    color: #fff;
    font-size: 2rem;
    padding-bottom: .5rem;
}
.review .slide .uesr .stars i{
    color: #ffa800;
    font-size: 1.3rem;
}
.review .slide p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* <!-- end review --> */
/* start footer */
.footer .box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem; */
}
.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}
.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--light-color);
}
.footer .box-container .box a:hover{
    color: var(--grenn);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    color: var(--black);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    font-size: 2rem;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.footer .credit span{
    color: var(--grenn);
}
/* end footer */
.loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loader-container video{
    width: 35rem;
}
.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}





























@media(max-width:768px){
    header .icons #bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        background-color: #fff;
        top: 100%;
        right: 0;
        border-top: .2rem solid rgba(0, 0, 0, .2);
        border-bottom: .2rem solid rgba(0, 0, 0, .2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding: 1rem;
        left: 0;
        z-index: 99999;
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100% , 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        background-color: #000;
        margin: 1rem;
        font-size: 2rem;
    }
    #searh-from #searh-box{
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slider .content h3{
        font-size: 5rem;
    }
    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
        }
        .footer .box-container{
            display: block;
        }
        .nmnm{
            display: block;
            margin: 6rem auto;
            text-align: center;
        }
} 

@media(max-width:450px){
    header{
        padding: 1rem 2rem;
    }
    html{
        font-size: 55%;
    }
    .menu .box-container .box .fa-heart{
        margin-left: 15rem;
    }
} 

@media(max-width:991px){
    header{
        padding: 1rem 2rem;
    }
    html{
        font-size: 55%;
    }
    /* .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    } */
    section{
        padding: 2rem;
    }
} 
